/* font-family: 'Chicle', cursive;
font-family: 'Nunito', sans-serif; */
nav {
  background-color:#ac7892f5;
  font-family: 'Nunito', sans-serif;
  font-size: 17pt;
}

.nav-link,
.navbar-toggler {
  color:white;
} 
.github-icon{
  position: absolute;
  right: 85px;
  bottom: 10px;
  width: 85px;
}

.linkedIn-icon{
  position: absolute;
  right: 15px;
  bottom: 6px;
  width: 95px;
}

/* Section with Nadia's img & text style */
.container {
    position: relative;
    padding-top: 5%;
}

.centerleft {
    position: absolute;
    top: 200px; 
    left: auto;
    font-size: 50px;  
    font-family: 'Chicle', cursive;
}
.centerleftp {
  position: absolute;
  top: 260px; 
  left: auto;
  font-size: 20px;;  
 
}
.centeright {
    position: absolute;
    top: 200px;
    right: 45px;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
  }
.centerightp {
    position: absolute;
    top: 260px;
    right: 45px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
@media screen and (max-width: 800px) {
    .imgText {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }    
/* contact section */
