/* font-family: 'Chicle', cursive;
font-family: 'Nunito', sans-serif; */
nav {
  background-color:#ac7892f5;
  font-family: 'Nunito', sans-serif;
  font-size: 17pt;
}

.nav-link,
.navbar-toggler {
  color:white;
} 
.github-icon{
  position: absolute;
  right: 85px;
  bottom: 10px;
  width: 80px;
}

.linkedIn-icon{
  position: absolute;
  right: 20px;
  bottom: 6px;
  width: 95px;
    /* width: 80%; */

}

/* Section with Nadia's img & text style */
h1 {
  padding-top: 15%;
}

.container {
    position: relative;
    padding-top: 5%;
}
/* designer text */
.centerleft {
    position: relative;
    top: 200px; 
    left: auto;
    font-size: 50px;  
    font-family: 'Chicle', cursive;
}
.centerleftp {
  position: relative;
  top: 200px; 
  left: auto;
  font-size: 20px;;  
}

/* coder text */
.coder {
    position: relative;
    top: 200px;
    right: 9px;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
  }
.centerightp {
    position: relative;
    top: 200px;
    right: 9px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
  }
/* my picture styling */
img {
    width: 80%;
  }

.my-pic{
  width: 80%;
  padding: auto;
  align-content: center;
  /* width: 50%; */
  /* height: 20%; */
}

/* project images styling */

.pawmeimg{
  width: 58%;
  padding-left: 10%;
  padding-top: 8%;

  align-content: center;
  /* width: 50%; */
  height: 20%;
}

.wilboimg{
  width: 85%;
  padding-left: 10%;
  padding-top: 10%;
  align-content: center;
  /* width: 50%; */
  height: 20%;
}